<div class="main landing-page">
  <div class="games">
    <div class="game">
      <a href="https://boolitaire.com"><img class="game-teaser" src="https://boolitaire.com/img/icon-flatbutton.co-144x144.png"/></a>
    </div>

    <div class="game">
      <a href="https://vmod.io"><img class="game-teaser" src="/img/vmod-icon-144x144.png"/></>
    </div>

    <div class="game">
      <a href="https://itunes.apple.com/app/pocket-snap/id1252302313"><img class="game-teaser" src="/img/pocketsnap-icon-144x144.png"/></a>
    </div>

    <div class="game">
      <a href="https://itunes.apple.com/app/shn-p/id1203525883"><img class="game-teaser" src="/img/shnip-icon_1024x1024.png"/></a>
    </div>

    <div class="game">
      <a href="https://itunes.apple.com/app/sliding-down/id1180040010"><img class="game-teaser" src="/img/slidingdown-icon-512x512.png"/></a>
    </div>

    <div class="game">
      <a href="https://itunes.apple.com/app/amoebae/id1152536305"><img class="game-teaser" src="/img/amoebae-icon_144x144.png"/></a>
    </div>

    <div class="game">
      <a href="https://itunes.apple.com/app/flat-jump/id1128837742"><img class="game-teaser" src="/img/flatjump-icon_144x144.png"/></a>
    </div>

    <div class="game">
      <a href="https://assetstore.unity.com/packages/tools/gui/globsearch-96572"><img class="game-teaser" src="/img/globsearch-icon_144x144.png"/></a>
    </div>

    <!--
    <div class="game">
      <img class="game-placeholder" src="/img/placeholder_144x144.png"/>
    </div>
    -->
  </div>
</div>

