<div class="main walloftext">

<header><h1>Privacy policy</h1></header>
<div>
  <p>This privacy policy was last updated on December 22th, 2014.</p>
  <p>I neither need nor want any personally identifiable information about you, the visitory to my website or the users of my apps. Therefore I do not collect anything like that.</p>
  <p>This privacy policy may change from time to time. If I make any material changes to my policies, I will place a prominent notice on my website or application.</p>
  <p>If you have any comments or questions about this privacy policy, please email.</p>
</div>

</div>
