{{=<% %>=}}
<div class="main blog">
  {{#each posts }}
    {{^draft}}
    <div class="post"><a href="/blog/{{ path }}"><span class="title">{{ title }}</span><span class="date">{{ formatDate date day="numeric" month="long" year="numeric" }}</span></a>
    </div>
    {{/draft}}
  {{/each}}
<%={{ }}=%>
