/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-display: black;
  src: local('Lato'), local('Lato Regular'), url(/fonts/Lato-Regular.ttf) format('truetype');
}
