/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-display: black;
  src: local('Lato'), local('Lato Regular'), url(/fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Hartwell';
  src: local('Hartwell'), url('/fonts/Hartwell-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Hartwell Bold';
  src: local('Hartwell Bold'), url('/fonts/Hartwell-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
