$game-tile-size: 72px;

html {
  body {
    .main.landing-page {
    
      width: $width;
      max-width: 100%;
    
      .games {
        margin: 0 auto 0 auto;
        padding: 0;
        border: 0;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}
