html {
  body {
    .main.post {
    
      width: 610px;
      max-width: 100%;
      
      font-family: 'Hartwell', sans-serif;
      text-align: left;

      * {
        max-width: 100%;
      }
      
      h1 {
        text-align: center;
      }

      .date {
        margin-top: 0;
        
        text-align: center;

        color: #a0a0a0;
      }

      p, pre {
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;

        margin: $margin-top auto 0 auto;
      }
      
      img[alt$=-logo] {
        border-radius: 13%;
      }
    }
  }
}
