html {
  body {
    .main.post {
      max-width: 100%;

      * {
        max-width: 100%;
      }

      .date {
        margin-top: 0;

        color: #a0a0a0;
      }

      p, pre {
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;

        margin: $margin-top auto 0 auto;
      }
      
      img[alt$=-logo] {
        border-radius: 13%;
      }
    }
  }
}
