html {
  body {
    .main.post {
    
      width: 610px;
      max-width: 100%;
      
      font-family: 'Hartwell', sans-serif;
      text-align: left;
      
      * {
        max-width: 100%;
      }
      
      h1 {
        text-align: center;
        
        font-family: 'Hartwell Bold';
        font-weight: bold;
      }
      
      h2, h3, h4, h5 {
        margin: 26px auto 0 auto;
        font-family: 'Hartwell Bold';
        font-weight: bold;
      }

      .date {
        margin-top: 0;
        
        text-align: center;

        font-family: 'Hartwell Bold';
        font-weight: bold;
        color: #a0a0a0;
      }
      
      div {
        font-family: 'Lato', sans-serif;
      }

      p, pre {
        padding: 0;
        border: 0;
        font-size: 16px;
        line-height: 20px;
        vertical-align: baseline;

        margin: $margin-top auto 0 auto;
      }
      
      img[alt$=-logo] {
        border-radius: 13%;
      }
    }
  }
}
